.l-body {
    //  margin: 0 auto;
    display: grid;
    grid:
        "header header header"110px "breadcrumb breadcrumb breadcrumb"auto "main main main"auto "footer footer footer"auto/ 1fr 2fr 1fr;
    row-gap: 20px;
}