/*
=======================================
Footer style
=======================================
*/

$componente-name:"l-footer";

.#{$componente-name} {
	background-color: map-colors(map-black);
	color: map-colors(map-white) !important;
	grid-area: footer;
	display: grid;
	grid:
		"footerDescription footerDescription  footerSocialnetwork footerSocialnetwork"auto "footerNav1 footerNav2 footerNav3 footerNav4"auto "footerDetails footerDetails footerDetails ."auto "footerLineFull footerLineFull footerLineFull footerLines"30px / 1fr 1fr 1fr 1fr;

	li {
		display: flex;
	}

	h4 {
		text-transform: uppercase;
		font-size: 16pt;
		font-family: "Roboto Condensed" !important;
		font-weight: 700;
	}

	a {
		color: map-colors(map-white) !important;

		&::after {
			background-color: map-colors(map-white) !important;
		}
	}
}

.clFooterDescription {
	padding: 20px 0 0 80px;
	grid-area: footerDescription;
	align-self: center;
	font-size: 16pt;
	font-family: "Roboto Condensed" !important;
	font-weight: 400;
}

.clFooterSocialnetwork {
	padding: 20px 80px 0 0;
	grid-area: footerSocialnetwork;
	display: flex;
	align-items: center;
	justify-self: end;

	li {
		padding: 10px;

		a>img {
			width: 30px;
		}

		&:hover {
			background-color: map-colors(map-grey);
		}
	}
}

.clFooterNav1 {
	grid-area: footerNav2;

}

.clFooterMobileNav1 {
	grid-area: footerNav2;
	justify-self: center;
	padding: 10px;
	width: 100%;
	display: none;

}

.clFooterNav2 {
	grid-area: footerNav3;
}

.clFooterMobileNav2 {
	grid-area: footerNav3;
	justify-self: center;
	padding: 10px;
	width: 100%;
	display: none;
}

.clFooterDetails {
	padding: 20px 0 20px 80px;
	grid-area: footerDetails;
}

.clFooterLocal {
	padding-bottom: 20px;
	display: flex;
}

.clFooterCopyright {
	font-size: 10pt;
}

.clFooterLineFull {
	padding: 0;
	grid-area: footerLineFull;
	width: 100%;
	height: 100%;
	background-color: map-colors(map-white);
	overflow: visible !important;
}

.clFooterLines {
	padding: 0;
	grid-area: footerLines;
	width: 100%;
	height: 100%;
	background-color: map-colors(map-white);
	overflow: visible !important;

}

.clFooterLineBlue {
	stroke: map-colors(map-blue);
	stroke-width: 1px;
	fill: none;
	overflow: visible !important;
}

.clFooterLineGrey {
	stroke: map-colors(map-grey);
	stroke-width: 1px;
	fill: none;
	overflow: visible !important;
}

.clFooterLineBlack {
	stroke: map-colors(map-black);
	stroke-width: 1px;
	fill: none;
	overflow: visible !important;
}

.clFooterBackground {
	stroke: none;
	fill: map-colors(map-white);
	overflow: visible !important;
}

// Style to screen mobile.

@media(max-width:768px) {
	.l-footer {
		display: grid;
		grid:
			"footerDescription"auto "footerSocialnetwork"auto "footerNav2"auto "footerNav3"auto "footerNav4"auto "footerDetails"auto "footerDetails"auto "footerLineFull"30px / 1fr;

		h4 {
			display: block;
			position: relative;
		}

		h3 {
			text-transform: uppercase;
			font-weight: 300;
		}

		.clNavLink {
			text-transform: capitalize;
			font-weight: 400;
		}
	}

	.clFooterDescription {
		padding: 10px 20px;
		align-self: center;
		justify-self: start;
	}

	.clFooterSocialnetwork {
		padding: 10px 20px;
		align-items: center;
		justify-self: end;
	}

	.clFooterLines {
		display: none;
	}

	.clFooterNav1,
	.clFooterNav2 {
		display: none;
	}

	.clFooterMobileNav1,
	.clFooterMobileNav2 {
		justify-self: center;
		padding: 10px 20px;
		width: 100%;
		display: block;

		h4 {
			font-weight: 700;
			border-top: 1px #fff solid;
			cursor: pointer;
			font-size: 14pt;
			text-transform: capitalize;

			&::after {
				position: absolute;
				right: 12px;
				top: 0;
				content: "\2228";
				transform: rotate(0deg) scale(1.8, 0.7);
				font-weight: 100;
			}
		}
	}

	[data-anime] {
		height: 0;
		overflow: hidden;
		transition-duration: .5s;
	}

	.clFooterDetails {
		padding: 10px 20px;

	}

	.clFooterLocal {
		padding-bottom: 10px;
		margin: 0 auto;

		h4 {
			font-weight: 600;
		}

	}

	.clFooterCopyright {
		padding: 0;
		font-size: 9pt;
		margin: 0 auto;
	}

	.footerMobileNavClose::after {
		transform: rotate(0deg) scale(2, 0.7) !important;
	}

	.footerMobileNavOpen::after {
		transform: rotate(180deg) scale(2, 0.7) !important;
	}
}
