$componente-name:"l-service";

.#{$componente-name} {
 padding: 0;
 display: grid;
 grid:
  "serviceHeader serviceHeader serviceHeader"auto "serviceIndustrialAutomation serviceIndustrialAutomation serviceDomotica"0.5fr "serviceIndustrialAutomation serviceIndustrialAutomation serviceMechanicalDrawning"0.5fr "serviceElectricalDrawning serviceRobotic ."0.5fr /1fr 1fr 1fr;

 h4 {
  font-family: "Roboto Condensed" !important;
  font-weight: 300;
  font-size: 14pt;
 }

 span {
  font-family: "Roboto Condensed" !important;
  font-weight: 300;
  font-size: 22pt;
  word-break: keep-all;
  color: map-colors(map-black);
 }

 figure {
  width: 100%;
  height: auto;
  grid-column: 1/-1;
  grid-row: 1/-1;
 }

 img {
  width: 100%;
  height: 100%;
  transition: ease 1s;
 }

 a {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: black;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  &:hover {
   & img {
    opacity: 0.4;
    transform: scale(1.3);
   }

   & h4 {
    color: map-colors(map-white);
   }

   & span {
    color: map-colors(map-white);
   }
  }

  section {
   color: map-colors(map-black);
   grid-column: 1/-1;
   grid-row: 1/3;
   padding-left: 50px;
   align-self: flex-end;
  }
 }

 a>span {
  grid-column: 1/2;
  grid-row: 3/4;
  width: auto;
  height: auto;
  font-size: 10pt;
  align-self: end;
  justify-self: start;
  padding: 5px 30px;
  background-color: map-colors(map-grey2);
  color: map-colors(map-white);
 }
}

.clServiceHeader {
 grid-area: serviceHeader;
 padding-left: 160px;
 padding-bottom: 20px;
}

.clServiceIndustrialAutomation {
 grid-area: serviceIndustrialAutomation;
 overflow: hidden;
}

.clServiceDomotica {
 grid-area: serviceDomotica;
 overflow: hidden;
}

.clServiceMechanicalDrawing {
 grid-area: serviceMechanicalDrawning;
 overflow: hidden;
}

.clServiceRobotic {
 grid-area: serviceRobotic;
 overflow: hidden;
}

.clServiceElectricalDrawing {
 grid-area: serviceElectricalDrawning;
 overflow: hidden;
}

@media(max-width:1435px) {
 .l-service {
  grid:
   "serviceHeader serviceHeader "auto "serviceIndustrialAutomation serviceIndustrialAutomation"0.5fr "serviceIndustrialAutomation serviceIndustrialAutomation"0.5fr "serviceDomotica serviceMechanicalDrawning"0.5fr "serviceRobotic serviceElectricalDrawning"0.5fr /1fr 1fr;
 }
}

@media(max-width:1018px) {
 .l-service {
  grid:
   "serviceHeader"auto "serviceIndustrialAutomation"auto "serviceDomotica"auto "serviceMechanicalDrawning"auto "serviceRobotic"auto "serviceElectricalDrawning"auto /1fr;
 }
}

@media(max-width:768px) {
 .l-service {
  grid: "serviceHeader"auto "serviceIndustrialAutomation"auto "serviceDomotica"auto "serviceMechanicalDrawning"auto "serviceRobotic"auto "serviceElectricalDrawning"auto /1fr;

  a {
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
  }

  h4 {
   font-size: 12pt;
  }

  span {
   font-size: 16pt;
  }
 }

 .clServiceHeader {
  padding: 0;
 }
}