$componente-name: "c-button";

.#{$componente-name} {
  border: none;
  color: map-color(map-white);
  height: 44px;
  width: 180px;
  padding: 0 $global-padding-size-s;
  cursor: pointer;
  background: linear-gradient(45deg, transparent 10px, map-color(map-grey) 0) 0
    0;
  &:hover {
    background: linear-gradient(
        45deg,
        transparent 10px,
        map-color(map-grey-lighten-10) 0
      )
      0;
  }
}
