$componente-name: "c-button-mobile";

.#{$componente-name} {
	align-self: center;
	background-color: map-color(map-white);
	border: none;
	display: block;
	cursor: pointer;
	grid-area: button-mobile;
	height: auto;
	justify-self: flex-end;
	padding: ($global-module-size / 2.5);
	transition: $transition-function-header;
	width: auto;

	@include breakpoint(720-up) {
		display: none;
	}
	&__slice-up {
		background-color: map-color(map-grey);
		height: $slice-height-big;
		padding: 0;
		transition: $transition-function-header-mobile;
		width: $slice-width;
		&.is-open {
			transform-origin: 50% 50%;
			transform: translatey($slice-translate) rotate(45deg);
		}
	}
	&__slice-middle {
		background-color: map-color(map-grey);
		height: $slice-height;
		margin: $slice-margin 0;
		padding: 0;
		transform-origin: 50% 50%;
		transition-delay: $transition-daley-middle;
		transition: $transition-function-header-mobile;
		width: $slice-width;
		&.is-open {
			height: 0;
			margin: 0;
			transform-origin: 50% 50%;
			transition-delay: $transition-daley-none;
			width: 0;
		}
	}
	&__slice-down {
		background-color: map-color(map-grey);
		height: $slice-height-big;
		padding: 0;
		transition: $transition-function-header-mobile;
		width: $slice-width;
		&.is-open {
			transform-origin: 50% 50%;
			transform: translatey(-#{$slice-translate}) rotate(-45deg);
		}
	}
}
