$componente-name: "c-contact";

.#{$componente-name} {
	grid-area: contact;
	align-self: center;
	justify-self: flex-start;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;

	@include breakpoint(640-up) {
		justify-self: flex-start;
	}
	&__icon {
		height: 100%;
		padding: ($global-module-size * 0.2) ($global-module-size * 0.2) ($global-module-size * 0.2) 0;
		width: ($global-module-size);
	}
	&__content {
		align-self: center;
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
	}
	&__forced {
		fill: map-color(map-blue);
	}
	&__info {
		height: 100%;
		padding: ($global-module-size * 0.2) 0;
		width: 100%;
	}
}
