$componente-name: "c-form";

.#{$componente-name} {
  display: grid;
  gap: $global-module-size-xs;
  grid: 1fr 1fr 2.5fr 1fr / 1fr 1fr;
  &__control {
    background-color: map-color(map-grey-lighten-50);
    padding: $global-module-size-ssss $global-module-size-xxs;
    position: relative;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: map-color(map-grey);
  }
  &__label {
    cursor: text;
    left: 0;
    margin: 0;
    padding: $global-module-size-ssss $global-module-size-xxs;
    position: absolute;
    top: 0;
    transition: all 500ms;
  }
  &__name,
  &__lastname,
  &__phone,
  &__email,
  &__textarea {
    &__item {
      background-color: map-color(map-grey-lighten-50);
      border-style: none;
      height: 100%;
      margin: 0;
      resize: none;
      width: 100%;
      &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
        padding: 0;
        & + label {
          padding: $global-module-size-xxxs $global-module-size-xxs;
          font-size: $global-font-size-small;
        }
      }
    }
  }

  &__textarea {
    grid-column: 1 /3;
    height: $global-module-size-sxxl;
    width: 100%;
    &__item {
      padding: 10px;
    }
  }
  &__button {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: end;
    width: 50%;
  }
}
