$componente-name: "c-line-header";

.#{$componente-name} {
	display: grid;
	grid-area: line;
	grid-template-columns: auto ($global-module-size * 2.5);
	height: ($global-module-size / 5);
	overflow: visible;
	padding: ($global-module-size / 5) 0 0 0;
	transition: $transition-function-header;
	width: 100%;
	&.has-sticker {
		height: 0;
		padding: 0;
	}
	&__full {
		grid-column: 1 / -1;
		overflow: visible;
		height: ($global-module-size / 5);
		width: 100%;
		shape-rendering: crispEdges;
		transform-origin: 100% 100%;
		&.has-sticker {
			height: 0;
			transform: scale(0, 1);
		}
		@include breakpoint(720-up) {
			grid-column: 1 / 2;
		}
	}
	&__right {
		height: 0;
		width: 0;
		overflow: hidden;
		transform-origin: 100% 0%;
		transition: $transition-function-header;
		&.has-sticker {
			transform: scale(1, 0);
		}
		@include breakpoint(720-up) {
			grid-column: 2 / 3;
			height: ($global-module-size / 5);
			overflow: visible;
			width: 100%;
		}
	}
	&__item {
		fill: none;
		shape-rendering: crispEdges;
		stroke-width: ($global-module-size / 50);
		stroke: map-color(map-grey);
		&--color {
			shape-rendering: auto;
			stroke: map-color(map-blue);
		}
	}
}
