$componente-name: "c-logo";

.#{$componente-name} {
	align-items: center;
	display: flex;
	grid-area: logo;
	grid-column: 1/2;
	height: 100%;
	width: 100%;
	&__image {
		transition: $transition-function-header;
		width: ($global-module-size * 3.5);
		&.has-sticker {
			width: ($global-module-size * 3);
		}

		@include breakpoint(800-up) {
			width: $global-module-size * 5;
			&.has-sticker {
				width: ($global-module-size * 4);
			}
		}
	}

	&__map {
		fill: map-color(map-blue);
	}
	&__nucleo {
		fill: map-color(map-grey);
	}
	&__description {
		fill: map-color(map-blue);
	}
	&__box-gear {
		fill: none;
		stroke: none;
	}
	&__gear {
		fill-rule: evenodd;
		fill: map-color(map-blue);
		stroke: map-color(map-blue);
	}
	&__cicle {
		fill: map-color(map-grey);
	}
	&__ray {
		fill: map-color(map-blue);
		stroke: none;
	}
}
