$componente-name: "c-menu";

.#{$componente-name} {
  grid-area: menu;
  height: 0;
  overflow: visible;
  width: 0;
  display: flex;
  &.has-sticker {
    align-self: center;
  }
  @include breakpoint(1280-up) {
    align-self: flex-end;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
  }
  &__list {
    @include breakpoint(1280-up) {
      display: grid;
      flex: 1;
      grid-template-columns: repeat(5, ($global-module-size * 2.5));
      height: auto;
      justify-content: center;
      justify-items: center;
      margin: 0;
      padding: 0;
    }
  }
}
