$componente-name: "c-main";

.#{$componente-name} {
  display: grid;
  grid: auto-flow / 1fr 1fr;
  padding: 0;
  gap: $global-module-size-ss;
  max-width: 1120px;
  margin: 0 auto;
  align-content: stretch;
  &--single-column {
    grid: auto-flow / 1fr;
  }
}
