$componente-name: "c-menu-mobile";

.#{$componente-name} {
	grid-area: menu-flyout-1;
	&.is-open {
		height: auto;
		overflow: visible;
		transition: $transition-function-header-mobile;
		width: 100%;
	}
	&__list {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}
	&__item {
		flex: 1;
		width: 100%;
		border-top: 1px map-color(map-black) solid;
	}

	&__link {
		color: map-color(map-header-fore);
		padding: ($global-module-size / 3);
		align-self: flex-start;
		display: flex;
		position: relative;
		border-top: 1px map-color(map-black) solid;
		&:last-child {
			border-bottom: 1px map-color(map-black) solid;
		}

		text-transform: uppercase;
		width: 100%;
		border: none;
		background-color: map-color(map-white);
		&:hover {
			background-color: map-color(map-header-fore);
			color: map-color(map-white);
			&::after {
				content: ">";
				font-weight: 100;
				position: absolute;
				right: ($global-module-size/5);
				top: auto;
				transform: scale(1.5, 3);
				color: map-color(map-white);
			}
		}
	}
}
