$componente-name: "c-menu-flyout";

.#{$componente-name} {
	display: grid;
	grid-area: menu-flyout-2;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	transition: $transition-function-header;
	width: 0;
	z-index: z-index(above);
	&.is-open {
		height: auto;
		padding: ($global-module-size) 0 ($global-module-size * 2);
		transition: $transition-function-header;
		width: 100%;
		@include breakpoint(640-up) {
			grid-area: menu-flyout-1;
		}
	}

	&__content {
		@include breakpoint(640-up) {
			width: ($global-module-size * 8);
			margin: 0;
			padding: ($global-module-size / 5) 0 0 0;
		}
	}
	&__item {
		align-items: center;
		border-bottom: solid ($global-module-size / 50) map-color(map-black);
		display: flex;
		height: $global-module-size;
		width: 100%;
		&:first-child {
			border-bottom: solid ($global-module-size / 50) map-color(map-black);
		}
	}
	&__link {
		color: map-color(map-black);
		height: auto;
		padding-left: ($global-module-size / 10);
	}
	&__close {
		display: none;
		@include breakpoint(640-up) {
			bottom: -32px;
			display: flex;
			height: auto;
			justify-content: center;
			position: absolute;
			width: 100%;
			margin: 0 auto;
			left: 0%;
		}
	}
	&__button {
		align-items: center;
		justify-content: center;
		background-color: map-color(map-grey1);
		border-radius: 50%;
		border: none;
		cursor: pointer;
		display: flex;
		fill: map-color(map-black);
		grid-area: button-close;
		height: 64px;
		margin: 0;
		padding: 0;
		position: relative;
		width: 64px;
	}
	&__icon {
		width: 26px;
		height: 26px;
	}
	&__stroke {
		fill: none;
		stroke: map-color(map-white);
		stroke-width: $global-line-height-small;
	}
}
