$componente-name: "c-menu";

.#{$componente-name} {
	grid-area: menu-flyout-1;
	height: auto;
	overflow: visible;
	width: 100%;

	&.is-open {
		height: auto;
		overflow: visible;
		width: 100%;
	}

	&.has-sticker {
		align-self: center;
	}
	@include breakpoint(640-up) {
		align-self: flex-end;
		display: flex;
		flex-wrap: nowrap;
		grid-area: menu;
		height: auto;
		width: 100%;
	}

	&__list {
		@include breakpoint(640-up) {
			display: grid;
			flex: 1;
			grid-template-columns: repeat(5, ($global-module-size * 2.5));
			height: auto;
			justify-content: center;
			justify-items: center;
			margin: 0;
			padding: 0;
		}
	}
}
