$componente-name: "c-social-network";

.#{$componente-name} {
	align-items: center;
	display: flex;
	flex-direction: row;
	grid-area: social-network;
	height: ($global-module-size * 2);
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	width: auto;

	@include breakpoint(640-up) {
		height: ($global-module-size * 5);
		justify-content: flex-end;
	}

	&__icon {
		fill: map-color(map-blue);
		padding: ($global-module-size * 0.2) ($global-module-size * 0.2) ($global-module-size * 0.2) 0;
		transition: $transition-duration-exit;
		width: ($global-module-size * 1.2);
		&:hover {
			background-color: map-color(map-background4);
			padding-left: ($global-module-size * 0.2);
		}

		@include breakpoint(640-up) {
			padding: ($global-module-size * 0.2) 0 ($global-module-size * 0.2) ($global-module-size * 0.2);
			&:hover {
				background-color: map-color(map-background4);
				padding-right: ($global-module-size * 0.2);
			}
		}
	}
	&__forced {
		fill: map-color(map-blue);
	}
}
