$componente-name: "c-slider";

.#{$componente-name} {
	position: relative;
	margin-bottom: ($global-padding-up-down);
	padding: 0;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	@include breakpoint(720-up) {
	}
	&__gallery-wrapper {
		overflow: hidden;
		display: flex;
		flex-direction: row;
		flex-flow: nowrap;
		height: 100%;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
	&__gallery {
		flex-shrink: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		&.carousel {
			transition: all 2s ease-in;
		}
	}
	&__item {
		width: 100%;
		height: 100%;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
	&__description {
		grid-column: 1 / 2;
		grid-row: 2 /3;
		background-color: map-color(map-grey) + af;
		width: 50%;
		height: 25%;
		align-self: flex-end;
		justify-self: flex-start;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-items: center;
		color: map-color(map-white);
		padding-left: ($global-module-size / 1.5);
	}
	&__title {
		height: 50%;
		justify-self: center;
	}
	&__text {
		height: 50%;
	}
	&__prev,
	&__next {
		border: none;
		opacity: 1;
		width: $global-module-size;
		background-color: transparent;
		grid-row: 2 / 3;
		align-items: center;
		justify-items: center;
		padding: 0;
	}
	&__prev {
		grid-column: 1 / 2;
	}
	&__next {
		grid-column: 3 /4;
	}
	&__arrow-wrapper {
		cursor: pointer;
		height: $global-module-size;
		padding: 0;
		width: $global-module-size;
	}
	&__arrow-prev,
	&__arrow-next {
		fill: map-color(map-white);
		stroke-width: ($global-module-size / 50);
		stroke: map-color(map-white);
	}
}
