$componente-name: "c-service";

.#{$componente-name} {
  display: grid;
  grid: auto 1fr / 1fr 1fr;
  padding: 0;
  gap: $global-module-size-ss;
  max-width: 1120px;
  margin: 0 auto;
  align-content: stretch;

  &__text {
    grid-column: 1/-1;
    grid-row: 1;
  }
  &__call {
    font-size: xx-large;
  }
  &__impact {
    padding: $global-padding-size-xxs 0;
  }
  &__explanation {
    line-height: $global-module-size-s;
  }
  &__image {
    grid-column: 1/2;
    grid-row: 2;
    margin: 0;
  }
  &__highlights {
    grid-column: 2/3;
    grid-row: 2;
    margin: 0;
  }
  &__title {
    margin: 0;
    padding-bottom: $global-padding-size-ssss;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
    gap: $global-module-size-ssss;
  }
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  &__line {
    width: $global-module-size-ss;
    height: $global-module-size-sss;
  }
  &__line-item {
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 0.1rem;
    stroke: map-color(map-grey);
    // @-moz-document url-prefix() {
    // 	stroke-width: 1px;
    // }
  }
  &__item-text {
    margin: 0;
    padding-left: $global-padding-size-sss;
  }
}
