$componente-name: "c-top";

.#{$componente-name} {
	grid-area: top;
	height: 0;
	transition: $transition-function-header;
	&.has-sticker {
		height: 0;
	}
	@include breakpoint(1280-up) {
		height: ($global-module-size * 1.375);
	}
}
