$componente-name: "l-body";

.#{$componente-name} {
	background-color: map-color(map-white);
	display: grid;
	grid: "header " ($global-module-size * 1.5) "main" auto "footer" auto "line-footer" auto/ 1fr;
	margin: 0 auto;
	max-width: $global-max-width;
	width: 100%;

	@include breakpoint(1280-up) {
		grid: "header" ($global-module-size * 2) "main" auto "footer" auto "line-footer" auto/ 1fr;
	}
}
