$componente-name: "l-header";

.#{$componente-name} {
	background-color: map-color(map-white);
	display: grid;
	grid: "top top" auto "logo button-mobile" auto "menu-flyout-1 menu-flyout-2" auto "line line" auto / 1fr 1fr;
	height: auto;
	justify-items: center;
	margin: 0 auto;
	max-width: $global-max-width;
	overflow: visible;
	padding: ($mobile-padding-up-down) ($mobile-padding-side);
	position: fixed;
	transition: $transition-function-header;
	width: 100%;
	z-index: z-index(above);
	column-gap: ($global-module-size / 5);
	&.has-sticker {
		box-shadow: 0 ($global-module-size / 2) ($global-module-size / 4) 0 rgba(0, 0, 0, 0.2);
		padding: ($mobile-padding-up-down-sticker) ($mobile-padding-side-sticker);
	}
	@include breakpoint(720-up) {
		grid: "top top" auto "logo menu" auto "menu-flyout menu-flyout" auto "button-close button-close" auto "line line" auto/ auto 1fr;
		padding: ($mobile-padding-up-down) ($mobile-padding-side) 0 ($mobile-padding-side);
		gap: 0;
	}
	@include breakpoint(1280-up) {
		padding: ($global-padding-up-down) ($global-padding-side);
		&.has-sticker {
			padding: 0 ($global-padding-side-sticker);
		}
	}
}
