$componente-name: "l-main";

.#{$componente-name} {
	background-color: map-color(map-white);
	color: map-color(map-grey);
	grid-area: main;
	margin: 0 auto;
	// padding: 0 ($mobile-padding-side);
	width: 100%;
	max-width: $global-max-width;
	@include breakpoint(1280-up) {
		// padding: 0 ($global-padding-side);
	}
}
