<div class="c-main">
  <article class="c-introduction">
    <h1 class="c-title">
      <strong>Núcleo MAP</strong> <em>Automação Residencial</em>
    </h1>
    <p class="c-impact">
      O futuro da conveniência em casa. Descubra as soluções personalizadas em
      automação residencial oferecidas pela Núcleo MAP.
    </p>
    <article>
      <p class="c-text">
        A automação residencial é a resposta para quem busca praticidade,
        conforto e segurança dentro de casa. Com a tecnologia disponível
        atualmente, é possível automatizar diversas tarefas domésticas, tornando
        a rotina mais simples e eficiente. Além disso, a automação residencial
        oferece maior controle e segurança, permitindo o monitoramento remoto de
        dispositivos e câmeras de segurança. A Núcleo MAP é uma empresa
        especializada em automação residencial, oferecendo soluções
        personalizadas para atender às necessidades e desejos de cada cliente.
        Nossa equipe de profissionais altamente capacitados trabalha com as
        melhores tecnologias disponíveis, visando sempre a melhoria contínua das
        soluções oferecidas. Entre as soluções em automação residencial
        oferecidas pela Núcleo MAP, destacam-se: <br />
        - Controle de iluminação: permitindo a criação de cenas e ambientes
        personalizados de acordo com as necessidades do cliente. <br />
        - Controle de climatização: possibilitando a regulagem de temperatura e
        umidade de maneira simples e intuitiva. <br />
        - Controle de áudio e vídeo: tornando o entretenimento em casa ainda
        mais prático e imersivo. <br />
        - Monitoramento de segurança: com câmeras de alta qualidade e tecnologia
        de ponta, é possível monitorar a casa de qualquer lugar do mundo,
        garantindo maior tranquilidade e segurança para toda a família. <br />
        Investir em automação residencial é investir no futuro da sua casa e na
        qualidade de vida da sua família. A Núcleo MAP é a empresa ideal para
        ajudar você a transformar a sua casa em um verdadeiro lar inteligente,
        com soluções personalizadas e suporte técnico de alta qualidade. Entre
        em contato conosco e descubra como podemos tornar a sua vida mais
        prática e conveniente.
      </p>
    </article>
  </article>
  <figure class="c-image">
    <picture class="c-image-wrap">
      <img
        srcset="app/assets/image/automacaoindustrial/image1.jpg"
        alt="Foto automação residencial, domotica Núcleo MAP"
        class="c-image-item"
      />
    </picture>
  </figure>
  <article class="c-highlights">
    <h2 class="c-subtitle">Destaques</h2>
    <ul class="c-highlights__list">
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          <strong>Praticidade, conforto e segurança</strong> dentro de casa
        </p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          <strong>Controle intuitivo</strong> de iluminação, climatização, áudio
          e vídeo.
        </p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          <strong>Monitoramento remoto</strong> de câmeras de segurança de alta
          qualidade.
        </p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          <strong>Soluções personalizadas</strong> para atender às necessidades
          de cada cliente.
        </p>
      </li>
    </ul>
  </article>
</div>
