<div class="c-main">
  <article class="c-introduction">
    <h1 class="c-title">
      <strong>Núcleo MAP</strong> <em>Automação residencial</em>
    </h1>
    <p class="c-impact">Conforto, tecnologia e segurança.</p>
    <article>
      <p class="c-text">
        Trazendo a tecnologia da indústria para dentro de estabelecimentos
        diversos obtemos uma solução robusta e 100% confiável para qualquer tipo
        de automação para residências, empresas, condomínios, shoppings centers
        e onde mais você possa imaginar.
      </p>
    </article>
  </article>
  <figure class="c-image">
    <picture class="c-image-wrap">
      <img
        srcset="app/assets/image/automacaoindustrial/image1.jpg"
        alt="Foto automação residencial, domotica Núcleo MAP"
        class="c-image-item"
      />
    </picture>
  </figure>
  <article class="c-highlights">
    <h2 class="c-subtitle">Destaques</h2>
    <ul class="c-highlights__list">
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          Conforto, segurança e tecnologia na palma da mão.
        </p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          Flexibilidade, tornando realidade os sonhos da casa do futuro.
        </p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">Histórico de falhas.</p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          Integrando automação, segurança, áudio & vídeo e economia no mesmo
          am-biente.
        </p>
      </li>
    </ul>
  </article>
</div>
