<div class="c-main c-main--single-column">
  <article class="">
    <h1>Núcleo MAP nosso contato</h1>
    <p class="">
      Se deseja saber mais sobre nosos serviços e produtos, entre em contato
      conosoco.
    </p>
  </article>
  <article class="">
    <h3>Núcleo MAP Máquinas Automação e Programação</h3>
    <p>Fone: +55 (41) 992 749 270</p>
    <p>E-mail: nucleomap@nucleomap.com.br</p>
  </article>
  <form action="/app/assets/enviaremail.php" method="post" class="c-form">
    <label for="nome" class="c-form__label">Nome:</label>
    <input type="text" id="nome" name="nome" required class="c-form__input" />
    <label for="email" class="c-form__label">E-mail:</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      class="c-form__input"
    />
    <label for="mensagem" class="c-form__label">Mensagem:</label>
    <textarea
      id="mensagem"
      name="mensagem"
      required
      class="c-form__textarea"
    ></textarea>
    <input type="submit" value="Enviar" class="c-form__button" />
  </form>
</div>
