<div class="c-main">
  <article class="c-introduction">
    <h1 class="c-title">
      <strong>Núcleo MAP</strong> <em>Projeto elétrico</em>
    </h1>
    <p class="c-impact">Inteligencia, performance e precisão</p>
    <p class="c-text">
      Construído em uma estrutura padronizada toda documentação elétrica segue
      as normas regulamentares visando facilidade e rapidez na hora da montagem.
      Com identificações de componentes e de fiação mais claras que facilitam
      possíveis alterações e agilidade na manutenção.
    </p>
  </article>
  <figure class="c-image">
    <picture class="c-image-wrap">
      <img
        srcset="app/assets/image/automacaoindustrial/image1.jpg"
        alt="Foto automação residencial, domotica Núcleo MAP"
        class="c-image-item"
      />
    </picture>
  </figure>
  <article class="c-highlights">
    <h2 class="c-subtitle">Destaques</h2>
    <ul class="c-highlights__list">
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">Listas personalisadas.</p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">Facilidade de montegm.</p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">Identificações coerentes.</p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">Presonalisação ideal para cada cliente.</p>
      </li>
    </ul>
  </article>
</div>
