<div class="c-service">
  <article class="c-service__text">
    <h1 class="c-service__call"><strong>Núcleo MAP</strong> <em>Projeto mecânico</em></h1>
    <p class="c-service__impact">Experiência, robustez e tecnologia.</p>
    <p class="c-service__explanation">
      A elaboração do projeto em 3D traz consigo a redução do tempo de desenvolvimento,
      redução de protótipos para teste e detecção de possíveis falhas antes da usinagem. Todos
      os nossos projetos são elaborados visando redução de custos com usinagem e material,
      facilidade na montagem e manutenção, porem mantendo a robustez de todo o equipamento.
      Com uma documentação completa para uma usinagem fiel ao projeto reduzindo o tempo total
      de montagem do projeto.
    </p>
  </article>
  <figure class="c-service__image">
    <picture class="c-service__image-wrap">
      <img srcset="app/assets/image/automacaoindustrial/image1.jpg" alt="Foto automação residencial, domotica Núcleo MAP" class="c-service__image-item">
    </picture>
  </figure>
  <article class="c-service__highlights">
    <h2 class="c-service__title">Destaques</h2>
    <ul class="c-service__list">
      <li class="c-service__item">
        <svg class="c-service__line">
          <g class="c-service__line-item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-service__item-text">Projetos mais eficientes com auxilio de software 3D.</p>
      </li>
      <li class="c-service__item">
        <svg class="c-service__line">
          <g class="c-service__line-item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-service__item-text">Tecnologia, atento as nividades de mercados buscando inovação e facilidades.</p>
      </li>
      <li class="c-service__item">
        <svg class="c-service__line">
          <g class="c-service__line-item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-service__item-text">Documentação completa facilitando montagem e manutenção.</p>
      </li>
      <li class="c-service__item">
        <svg class="c-service__line">
          <g class="c-service__line-item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-service__item-text">Flexibilidade, de projetos complexos a simples alterações.</p>
      </li>
    </ul>
  </article>
</div>