<div class="c-main">
  <article class="c-introduction">
    <h1 class="c-title"><strong>Núcleo MAP</strong> <em>Robótica</em></h1>
    <p class="c-impact">Facilitando trabalhos operacionais.</p>
    <p class="c-text">
      Com ampla experiencia na área de robótica toda programação é feita
      pensando na longevidade do robô, com movimentos suaves evitando trancos
      nas paradas, porém com rapidez na movimentação. Com uma lógica simples e
      de fácil leitura a alteração de pontos de parada se tornam muito mais
      fácil e rápida.
    </p>
  </article>
  <figure class="c-image">
    <picture class="c-image-wrap">
      <img
        srcset="app/assets/image/automacaoindustrial/image1.jpg"
        alt="Foto automação residencial, domotica Núcleo MAP"
        class="c-image-item"
      />
    </picture>
  </figure>
  <article class="c-highlights">
    <h2 class="c-subtitle">Destaques</h2>
    <ul class="c-highlights__list">
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          Integração completa com o equipamento, facilitando troca de dados com
          sistema.
        </p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            >
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">
          Estudo de movimentos otmisando processo e melhorando tempo movimento.
        </p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">Programação intuitiva e de fácil leitura.</p>
      </li>
      <li class="c-highlights__item">
        <svg class="c-mark">
          <g class="c-mark__item">
            <line x1="0" x2="100%" y2="7" y1="7"></line>
          </g>
        </svg>
        <p class="c-text--compact">Segurança, inovação, agilidade.</p>
      </li>
    </ul>
  </article>
</div>
