<div class="c-main">
  <article class="c-introduction">
    <h1 class="c-title">Bem-vindo a NÚCLEO MAP</h1>
    <h2></h2>
    <h2 class="c-subtitle">Nossa história</h2>
    <p class="c-text">
      A <b>Núcleo MAP</b> é formada por profissionais com mais de 15 anos de
      experiência em automação e manutenção de equipamentos, dentro e fora do
      Brasil. Visando sempre em atender da melhor maneira as necessidades de
      nossos clientes, estamos preparados para propor soluções em fabricação,
      manutenção, integração, automação industrial e residencial acompanhando as
      novidades do mercado como
      <em>indústria 4.0, máquina conectada, IOT, domótica</em> e entre outras.
    </p>
    <p class="c-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam provident
      culpa minus ducimus. Deserunt necessitatibus reprehenderit iste
      voluptatibus voluptate quae, vitae cupiditate delectus laborum alias
      harum! Magni quibusdam, veritatis, facilis hic molestiae nam minus
      laudantium quam voluptates ut non, inventore pariatur. Labore sapiente
      quos reiciendis doloremque commodi tempore aliquam similique recusandae
      numquam consequatur fuga voluptatum saepe totam quo, non, in natus fugit,
      voluptatibus consectetur maxime! Saepe sequi maiores cupiditate excepturi
      eum? Illo recusandae quas ab voluptatum sunt quo, vel praesentium ut ad
      hic quisquam maxime placeat sint odio a obcaecati accusantium quasi
      reiciendis porro iusto tempore nihil illum? Ullam, illum.
    </p>
    <p class="c-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam provident
      culpa minus ducimus. Deserunt necessitatibus reprehenderit iste
      voluptatibus voluptate quae, vitae cupiditate delectus laborum alias
      harum! Magni quibusdam, veritatis, facilis hic molestiae nam minus
      laudantium quam voluptates ut non, inventore pariatur. Labore sapiente
      quos reiciendis doloremque commodi tempore aliquam similique recusandae
      numquam consequatur fuga voluptatum saepe totam quo, non, in natus fugit,
      voluptatibus consectetur maxime! Saepe sequi maiores cupiditate excepturi
      eum? Illo recusandae quas ab voluptatum sunt quo, vel praesentium ut ad
      hic quisquam maxime placeat sint odio a obcaecati accusantium quasi
      reiciendis porro iusto tempore nihil illum? Ullam, illum.
    </p>
    <p class="c-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam provident
      culpa minus ducimus. Deserunt necessitatibus reprehenderit iste
      voluptatibus voluptate quae, vitae cupiditate delectus laborum alias
      harum! Magni quibusdam, veritatis, facilis hic molestiae nam minus
      laudantium quam voluptates ut non, inventore pariatur. Labore sapiente
      quos reiciendis doloremque commodi tempore aliquam similique recusandae
      numquam consequatur fuga voluptatum saepe totam quo, non, in natus fugit,
      voluptatibus consectetur maxime! Saepe sequi maiores cupiditate excepturi
      eum? Illo recusandae quas ab voluptatum sunt quo, vel praesentium ut ad
      hic quisquam maxime placeat sint odio a obcaecati accusantium quasi
      reiciendis porro iusto tempore nihil illum? Ullam, illum.
    </p>
    <h2 class="c-subtitle">Missão</h2>
    <p class="c-text">
      Propor soluções que se encaixem perfeitamente no perfil de cada cliente,
      bus-cando viabilidade, prazo e demanda do projeto.
    </p>
  </article>
</div>
